@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", bold;
    height: auto;
    margin: 0;
    background-image: url("porta2.jpg");
    background-size: cover;
    background-size: 25rem;
    background-attachment: fixed;
}

.login-todo{
    align-content: space-between;
    display: flex;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 140px;
    padding-bottom: 20px;
    width: 100%;
	
}
.linea{
	align-content: space-between;
	display: flex;
	align-items: center;
	width: 100%;
	text-align: center;
}
.lao{
	width:  10%;
	color: #5F5F5F;
}
.elform {
	background: #FFFFFF;
	padding: 40px;
	margin-left: 30px;
	width: auto;
		   border-radius: 10px;
	text-align: center;
}
.imag{
}
.datos{
	align-content: center;
	text-align: center;
	align-items: center;
}

  .login-todo input[type="text"], input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 7px;
    text-align: center;
    border: 2px solid #5F5F5F;
    padding: 10px 7px;
    width: 250px;
    outline: none;
    color: black;
    border-radius: 10px;
    transition: 0.25s;
}
  
  input[type="submit"], .btn-iniciar-sesion, .btn-registrarse {
    background: #f85f64;
	  width: 250px;
    color: #fff;
    outline: none;
    text-transform: uppercase;
    padding: 1.2em;
    overflow: hidden;
    border: none;
    letter-spacing: 0.1em;
    margin: 10px;
    font-weight: bold;
	  border-radius: 10px;
  }
 .btn-iniciar-sesion:hover, .btn-registrarse:hover {
      background: #F52C33;
}
 .btn-iniciar-sesion:active, .btn-registrarse:active {
      background: #00bba7;
}

  .facebook {
    color: #3a589a;
    margin-top: 10px;
    width: 120px;
    margin-bottom: 20px;
	 

    }

   .facebook:hover {
      color: rgba(#3a589a, 0.8);
    }
a{
	text-decoration: none;
	color: black;
}

.cuenta{
	    background: #00bba7;
	  width: 250px;
    color: #fff;
    outline: none;
    text-transform: uppercase;
    padding: 1.2em;
    overflow: hidden;
    border: none;
    letter-spacing: 0.1em;
    font-weight: bold;
	  border-radius: 10px;
}
 .cuenta:hover {
      background: #009988;
}
 .cuenta:active {
      background: #f85f64;
}
/* color aqua    #00bba7  
    color rosalo  #f85f64
grayy #5F5F5F
*/

/*
registro
*/

.logoletra, .nombre-completo{
	 align-content: space-between;
    display: flex;
}
.centrio-registro{
    width: 30%;
    align-items: center;
    display: flex;
    text-align: center;

    padding-top: 10px;
    padding-right: 20px;
    padding-left: 500px;
    padding-bottom: 20px;
}
.datos-registro{
	align-content: center;
	text-align: center;
	align-items: center;
}

.elform-registro {
	background: #FFFFFF;
	padding: 40px;
	width: auto;
    border-radius: 10px;
	text-align: center;
}

  .centrio-registro input[type="text"], input[type="password"], input[type="date"] {
    border: 0;
    background: none;
    display: block;
    margin: 7px;
    text-align: center;
    border: 2px solid #5F5F5F;
    padding: 10px 7px;
    width: 250px;
    outline: none;
    color: black;
    border-radius: 10px;
    transition: 0.25s;
}

